<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" integrity="sha512-0nkKORjFgcyxv3HbE4rzFUlENUMNqic/EzDIeYCgsKa/nwqr2B91Vu/tNAu4Q0cBuG4Xe/D1f/freEci/7GDRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../Dashboard/dashboard.styling.css">
    </head>
<body>
        <div id="welcome-container" class="d-flex justify-content-between align-items-center">
            <header id="welcome">
                <i id="house-icon" class="bi bi-house-door"></i>
                Welcome, <%= user.username %>!
            </header>
            <i id="logout-icon" class="bi bi-box-arrow-left"></i>
        </div>
        <h2>
            User Functions
        </h2>
        <div id="user-info">
            <div id="update-details" class="card">
                <div class="card-header">
                    Update Your Details
                </div>
                <div id="card-body" class="card-body d-flex flex-column justify-content-center align-items-center">
                    <form id="user-details-form">
                        <div id="form-field">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control text-dark" id="username" name="username" placeholder="<%= user.username %>">
                            <div id="invalid-feedback" class="text-danger">

                            </div>
                        </div>
                        <div id="form-field">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control text-dark" id="email" name="email" placeholder="<%= user.email %>">
                            <div id="invalid-feedback" class="text-danger">

                            </div>
                        </div>
                        <div id="form-field" class="form-field-password">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control text-dark" id="password">
                            <i id="eye-icon" class="bi bi-eye-fill"></i>
                            <div id="invalid-feedback" class="text-danger">
                            </div>
                        </div>
                        <div id="user-details-button-container">
                            <button id="user-details-button" class="btn btn-primary" type="button">Update Details</button>
                            <div id="valid-feedback" class="text-success">
    
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="orders" class="card">
                <div class="card-header">
                    Your Orders
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <% if (user.is_admin) { %>
            <h2>
                Admin Functions
            </h2>
            <div id="admin-info">
                <div id="product-container">
                    <div id="create-product" class="card">
                        <div class="card-header">Create Product</div>
                        <div class="card-body">
                            <form id="create-product-form">
                                <div class="admin-form-field">
                                    <label for="product-name" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" id="product-name" name="product-name">
                                </div>

                                <div class="admin-form-field">
                                    <label for="product-price" class="form-label">Price</label>
                                    <input type="number" step="0.1" min="0.1" class="form-control" id="product-price" name="product-price">
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>

                                <div class="admin-form-field">
                                    <label for="product-description" class="form-label">Description</label>
                                    <textarea class="form-control" id="product-description" name="product-description" rows="3"></textarea>
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>

                                <div class="admin-form-field" id="admin-form-field-image">
                                    <label for="product-image" class="form-label">Image</label>
                                    <input type="text" class="form-control" id="product-image" name="product-image">
                                </div>
                                
                                <div class="admin-form-field">
                                    <label for="product-quantity" class="form-label">Quantity</label>
                                    <input type="number" step="1" min="1" class="form-control" id="product-quantity" name="product-quantity">
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>

                                <div class="admin-form-field">
                                    <label for="product-categories" class="form-label">Categories</label>
                                    <select class="form-control chosen-select chosen-select-product-create" id="product-categories" name="product-categories" data-placeholder = "Choose Categories" multiple>
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category.name %>"><%= category.name %></option>
                                        <% }); %>
                                    </select>
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>

                                <div class="admin-form-field">
                                    <label for="product-allergies" class="form-label">Allergies</label>
                                    <select class="form-control chosen-select" id="product-allergies" name="product-allergies" data-placeholder = "Choose Allergies" multiple>
                                        <option value="lactose">Lactose</option>
                                        <option value="nuts">Nuts</option>
                                        <option value="soy">Soy</option>
                                        <option value="gluten">Gluten</option>
                                        <option value="eggs">Eggs</option>
                                    </select>
                                </div>
                                
                                <div id="create-product-button-container">
                                    <button type="button" class="btn btn-primary" id="create-product-button">Create Product</button>
                                    <div id="valid-feedback" class="text-success">
    
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div id="update-product" class="card">
                        <div class="card-header">Update Product</div>
                        <div class="card-body">
                            <form id="update-product-form">
                                <div class="admin-form-field">
                                    <label for="product-names-update" class="form-label">Product Name</label>
                                    <select class="form-control chosen-select" id="product-names-update" name="product-names-update" data-placeholder = "Choose Categories">
                                        <% products.forEach(product => { %>
                                            <option value="<%= product._id %>" data-product-id="<%= product._id %>"><%= product.name %></option>
                                        <% }); %>
                                    </select>
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>

                                <div class="admin-form-field">
                                    <label for="product-input-update" class="form-label">Updated Product Name</label>
                                    <input type="text" class="form-control" id="product-input-update" name="product-input-update">
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>

                                <div class="admin-form-field">
                                    <label for="product-price-update" class="form-label">Price</label>
                                    <input type="number" step="0.1" min="0.1" class="form-control" id="product-price-update" name="product-price-update">
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>

                                <div class="admin-form-field">
                                    <label for="product-description-update" class="form-label">Description</label>
                                    <textarea class="form-control" id="product-description-update" name="product-description-update" rows="3"></textarea>
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>

                                <div class="admin-form-field" id="admin-form-field-image">
                                    <label for="product-image-update" class="form-label">Image</label>
                                    <input type="text" class="form-control" id="product-image-update" name="product-image-update">
                                </div>
                                
                                <div class="admin-form-field">
                                    <label for="product-quantity-update" class="form-label">Quantity</label>
                                    <input type="number" step="1" min="1" class="form-control" id="product-quantity-update" name="product-quantity-update">
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>

                                <div id="admin-form-field-categories" class="admin-form-field">
                                    <label for="product-categories-update" class="form-label">Categories</label>
                                    <select class="form-control chosen-select chosen-select-product-update" id="product-categories-update" name="product-categories-update" data-placeholder = "Choose Categories" multiple>
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category.name %>"><%= category.name %></option>
                                        <% }); %>
                                    </select>
                                    <div id="invalid-feedback" class="text-danger">

                                    </div>
                                </div>
                                
                                <div class="admin-form-field">
                                    <label for="product-allergies-update" class="form-label">Allergies</label>
                                    <select class="form-control chosen-select" id="product-allergies-update" name="product-allergies-update" data-placeholder = "Choose Allergies" multiple>
                                        <option value="lactose">Lactose</option>
                                        <option value="nuts">Nuts</option>
                                        <option value="soy">Soy</option>
                                        <option value="gluten">Gluten</option>
                                        <option value="eggs">Eggs</option>
                                    </select>
                                </div>

                                <div id="update-product-button-container">
                                    <button type="button" class="btn btn-primary" id="update-product-button">Update Product</button>
                                    <div id="valid-feedback" class="text-success">
        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    
                <div id="category-container">
                    <div id="create-category" class="card">
                        <div class="card-header">Create Category</div>
                        <div class="card-body">
                            <form id="create-category-form">
                                <div class="admin-form-field">
                                    <label for="category-name" class="form-label">Category Name</label>
                                    <input type="text" class="form-control" id="create-category-input" name="category-name">
                                    <div id="invalid-feedback" class="text-danger">
                                    </div>
                                </div>
                                <div id="create-category-button-container">
                                    <button type="button" class="btn btn-primary" id="create-category-button">Create Category</button>
                                    <div id="valid-feedback" class="text-success">
        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
    
                    <div id="delete-category" class="card">
                        <div class="card-header">Delete Category</div>
                        <div class="card-body">
                            <form id="delete-category-form">
                                <div class="admin-form-field">
                                    <label id="category-label" for="delete-product-categories" class="form-label">Category Name</label>
                                    <select class="form-control chosen-select chosen-select-category-delete" id="delete-product-categories" name="delete-product-categories" data-placeholder = "Choose a Category">
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category.name %>"><%= category.name %></option>
                                        <% }); %>
                                    </select>  
                                </div>
                                <div id="delete-category-button-container">
                                    <button type="button" class="btn btn-primary" id="delete-category-button">Delete Category</button>
                                    <div id="valid-feedback" class="text-success">
            
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div id="update-category" class="card">
                        <div class="card-header">Update Category</div>
                        <div class="card-body">
                            <form id="update-category-form">
                                <label id="category-label" for="update-product-categories" class="form-label">Category Name</label>
                                <select class="form-control chosen-select chosen-select-category-update" id="update-product-categories" name="update-product-categories" data-placeholder = "Choose a Category">
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category.name %>"><%= category.name %></option>
                                    <% }); %>
                                </select>                                
                                <div id="admin-form-field-update-category" class="admin-form-field">
                                    <label for="category-name" class="form-label">Updated Category Name</label>
                                    <input type="text" class="form-control" id="update-category-input" name="category-name">
                                    <div id="invalid-feedback" class="text-danger">
                                    </div>
                                </div>
                                <div id="update-category-button-container">
                                    <button type="button" class="btn btn-primary" id="update-category-button">Update Category</button>
                                    <div id="valid-feedback" class="text-success">
                
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(() => {
            $("#product-names-update, #product-categories, #delete-product-categories, #update-product-categories").prop("selectedIndex", -1);
            const house_icon = $("#house-icon");
            const logout_icon = $("#logout-icon");
            const username_input_update_user = $("#username");
            const email_input_update_user = $("#email");
            const password_input_update_user = $("#password");
            const user_details_button = $("#user-details-button");
            const eye_icon = $("#eye-icon");
            
            house_icon.on("click", () => {
                window.location.href = "/";
            });

            $(".chosen-select").chosen({
                no_results_text: "Oops, nothing found!"
            });

            $(logout_icon).on("click", async () => {
                const data = {
                    cookie_name: "jwt",
                }

                try{
                    await $.ajax({
                        url: '/dashboard', 
                        method: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function() {
                            window.location.href = '/';
                        }
                    });
                }
                catch(error) {
                    console.log("AJAX error:", error);
                }

            })

            const changeIcon = (input, icon) => {
                input.attr("type") === "password" 
                ? (input.attr("type","input"), icon.removeClass().addClass("bi bi-eye-slash-fill")) 
                : (input.attr("type","password"), icon.removeClass().addClass("bi bi-eye-fill"));
            }
            
            eye_icon.on("click", () => changeIcon(password_input_update_user, eye_icon));
            
            let user, users; 
            const getUser = async () => {
                await $.ajax({
                    url: '/dashboard/user', 
                    type: 'GET',
                    success: (data) => {
                        user = data;
                    },
                    error: (error) => {
                        console.log("Error fetching existing users", error);
                    }
                });
            }

            const getExistingUsers = async () => {
                await $.ajax({
                    url: '/users', 
                    type: 'GET',
                    success: (data) => {
                        users = data; 
                    },
                    error: (error) => {
                        console.log("AJAX error when retrieving users", error);
                    }
                });
            }

            const checkExistingUser = async (user_email) => {
                await getExistingUsers();
                await getUser();
                for(let i = 0; i < users.length; i++) {
                    if(users[i].email === user_email && user.email != user_email) {
                        return true;
                    }
                }
                return false;
            }

            const validateEmail = (email) => {
                const email_regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                return email_regex.test(email);
            };
            
            const validateString = (string) => {
                return string !== "";
            }
            
            const hideError = (element) => {
                element.removeClass("is-invalid");
                const error_div = element.closest("div").siblings("#invalid-feedback").length === 0
                ? element.siblings("#invalid-feedback")
                : element.closest("div").siblings("#invalid-feedback");
                error_div.text("");
            };

            const showError = (element, error_message) => {
                element.addClass("is-invalid");
                const error_div = element.closest("div").siblings("#invalid-feedback").length === 0
                ? element.siblings("#invalid-feedback")
                : element.closest("div").siblings("#valid-feedback");
                error_div.text(error_message);
            };

            const hideValidation = (element) => {
                element.removeClass("is-valid");
                const valid_div = element.closest("div").siblings("#valid-feedback").length === 0
                ? element.siblings("#valid-feedback")
                : element.closest("div").siblings("#valid-feedback");
                valid_div.text("");
            };

            const showValidation = (element, validation_message) => {
                element.addClass("is-valid");
                const valid_div = element.closest("div").siblings("#valid-feedback").length === 0
                ? element.siblings("#valid-feedback")
                : element.closest("div").siblings("#valid-feedback");
                valid_div.text(validation_message);
                setTimeout(() => {
                    hideValidation(element);
                }, 3000);
            };

            const validateUserForm = async (username_input, email_input, password_input) => {
                let is_valid = true;
            
                if (!validateString(username_input.val().trim())) {
                    is_valid = false;
                    showError(username_input, "Username cannot be empty.");
                } else {
                    hideError(username_input);
                }

                if (!validateEmail(email_input.val())) {
                    is_valid = false;
                    showError(email_input, "Invalid email format.");
                } else if (await checkExistingUser(email_input.val().trim())) {
                    is_valid = false;
                    hideError(email_input);
                    showError(email_input, "Email already in use");
                } else {
                    hideError(email_input);
                }

                if (!validateString(password_input.val().trim())) {
                    is_valid = false;
                    showError(password_input, "Password cannot be empty.");
                } else {
                    hideError(password_input);
                }
            
                return is_valid;
            };

            $("#username, #email, #password").on("input", (event) => {
                hideError($(event.target));
            });

            $("#user-details-button").on("click",async (event) => {
                event.preventDefault();
                
                if(await validateUserForm($("#username"),  $("#email"), $("#password"))) {
                    try {
                        const email = $("#email").val();
                        const user = await $.ajax({
                            url: `/users/${email}`,
                            type: 'GET',
                        });

                        if (user) {
                            await $.ajax({
                                url: '/dashboard/update-details', 
                                method: 'POST',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    username: $("#username").val(),
                                    email: $("#email").val(),
                                    password: $("#password").val()
                                })
                            });

                            showValidation($("#user-details-button"),"User updated successfully");
                            showValidation($("#username"),"");
                            showValidation($("#email"),"");
                            showValidation($("#password"),"");
                        }
                    } 
                    catch (error) {
                        console.error("Error:", error);
                    }
                }
            });

            const validatePrice = (price) => {
                const price_regex = /^[0-9]+(\.[0-9]+)?$/;
                return price_regex.test(price);
            }

            const validateNumber = (number) => {
                const number_regex = /^[0-9]+$/;
                return number_regex.test(number);
            }

            const validateArray = (array) => {
                return array.length > 0;
            }

            let product, products;
            const getProduct = async (product_name) => {
                const response = await $.ajax({
                    url: `/products/name/${product_name}`, 
                    type: 'GET',
                });
                return response;
            }
            const getExistingProducts = async () => {
                await $.ajax({
                    url: '/categories/all', 
                    type: 'GET',
                    success: (data) => {
                        products = data; 
                    },
                    error: (error) => {
                        console.log("AJAX error when retrieving categories", error);
                    }
                });
            } 

            const checkExistingProduct = async (product_name) => {
                await getExistingProducts();
                for(let i = 0; i < products.length; i++) {
                    if(products[i].name === product_name) {
                        return true;
                    }
                }
                return false;
            }

            const validateProductForm = async (product_input, product_select, price_input, description_input, quantity_input, categories_input) => {
                let is_valid = true;
                if(product_select === undefined) {
                    if (!validateString(product_input.val())) {
                        is_valid = false;
                        showError(product_input, "Product name cannot be empty.");
                    } else if(await checkExistingProduct(product_input.val().trimStart().trimEnd())) {
                        is_valid = false;
                        showError(product_input, "Product already exists.");
                    } else {
                        hideError(product_input);
                    }  
                }

                if(product_select) {
                    if (!validateString($("#product-names-update :selected").text())) {
                        is_valid = false;
                        showError(product_select, "You must select a Product.");
                    } else if(await checkExistingProduct(product_select.text().trimStart().trimEnd())) {
                        is_valid = false;
                        showError(product_select, "Product already exists.");
                    } else {
                        hideError(product_select);
                    }  
                }
                
                
                if (parseFloat(price_input.val()).toFixed(2) <= 0 || parseFloat(price_input.val()).toFixed(2) > 10000 || !validatePrice(price_input.val())) {
                    is_valid = false;
                    showError(price_input, "Invalid price format, or price is less than 0 or greater than 10,000");
                } else {
                    hideError(price_input);
                }

                if (!validateString(description_input.val())) {
                    is_valid = false;
                    showError(description_input, "Description cannot be empty.");
                } else {
                    hideError(description_input);
                }

                if (!validateNumber(quantity_input.val())) {
                    is_valid = false;
                    showError(quantity_input, "Invalid quantity format.");
                } else {
                    hideError(quantity_input);
                }

                if (!validateArray(categories_input.val())) {
                    is_valid = false;
                    showError(categories_input, "Select at least 1 category.");
                } else {
                    hideError(categories_input);
                }
  
                return is_valid;
            };
            
            $("#product-name, #product-price, #product-description, #product-quantity").on("input", (event) => {
                hideError($(event.target));
            });

            $(".chosen-select-product-create").on("change", (event) => {
                hideError($("#product-categories"));
            });
            
            $("#create-product-button").on("click", async () => {
                event.preventDefault();
                if(await validateProductForm($("#product-name"), undefined, $("#product-price"), $("#product-description"), $("#product-quantity"), $("#product-categories"))) {
                    try {
                        await $.ajax({
                            url: '/products', 
                            method: 'POST',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                name: $("#product-name").val(),
                                price: $("#product-price").val(),
                                description: $("#product-description").val(),
                                image: $("#product-image").val(),
                                quantity: $("#product-quantity").val(),
                                categories: $("#product-categories").val().map(categoryName => ({ name: categoryName })),
                                allergies: {
                                    lactose: $("#product-allergies").val().includes("lactose"),
                                    nuts: $("#product-allergies").val().includes("nuts"),
                                    soy: $("#product-allergies").val().includes("soy"),
                                    gluten: $("#product-allergies").val().includes("gluten"),
                                    eggs: $("#product-allergies").val().includes("eggs"),
                                }
                            }),
                        });

                        const product = await getProduct($("#product-name").val());

                        $("#product-names-update").append(
                            `<option value="${product._id}">${product.name}</option>`
                        );

                        $("#product-names-update").trigger("chosen:updated");

                        showValidation($("#create-product-button"),"Product Created Successfully");
                        showValidation($("#product-name"),"Product Created Successfully");
                        showValidation($("#product-price"),"Product Created Successfully");
                        showValidation($("#product-description"),"Product Created Successfully");
                        showValidation($("#product-image"),"Product Created Successfully");
                        showValidation($("#product-quantity"),"Product Created Successfully");
                        showValidation($("#product-categories"),"Product Created Successfully");
                        showValidation($("#product-allergies"),"Product Created Successfully");
                    } 
                    catch (error) {
                        console.error("Error:", error);
                    }
                }
            });

            $("#update-product-button").on("click", async () => {
                event.preventDefault();
                const product_id = $("#product-names-update :selected").attr("value");
                if (await validateProductForm($("#product-input-update"), $("#product-names-update"), $("#product-price-update"), $("#product-description-update"), $("#product-quantity-update"), $("#product-categories-update"))) 
                {
                    try {
                        await $.ajax({
                            url: `/products/id/${product_id}`, 
                            method: 'PUT',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                name: $("#product-input-update").val(),
                                price: $("#product-price-update").val(),
                                description: $("#product-description-update").val(),
                                image: $("#product-image-update").val(),
                                quantity: $("#product-quantity-update").val(),
                                categories: $("#product-categories-update").val().map(categoryName => ({ name: categoryName })),
                                allergies: {
                                    lactose: $("#product-allergies-update").val().includes("lactose"),
                                    nuts: $("#product-allergies-update").val().includes("nuts"),
                                    soy: $("#product-allergies-update").val().includes("soy"),
                                    gluten: $("#product-allergies-update").val().includes("gluten"),
                                    eggs: $("#product-allergies-update").val().includes("eggs"),
                                }
                            }),
                        });

                        const product = await getProduct($("#product-input-update").val());
                        $(`option[value="${product._id}"]`).remove();

                        $("#product-names-update").append(
                            `<option value="${product._id}">${product.name}</option>`
                        );

                        $("#product-names-update").prop("selectedIndex", -1);

                        $("#product-names-update").trigger("chosen:updated");

                        showValidation($("#update-product-button"),"Product Updated Successfully");
                        showValidation($("#product-names-update"),"Product Updated Successfully");
                        showValidation($("#product-price-update"),"Product Updated Successfully");
                        showValidation($("#product-description-update"),"Product Updated Successfully");
                        showValidation($("#product-image-update"),"Product Updated Successfully");
                        showValidation($("#product-quantity-update"),"Product Updated Successfully");
                        showValidation($("#product-categories-update"),"Product Updated Successfully");
                        showValidation($("#product-allergies-update"),"Product Updated Successfully");
                    } 
                    catch (error) {
                        console.error("Error:", error);
                    }
                }
            });

            $("#product-names-update, #product-price-update, #product-description-update, #product-quantity-update").on("input", (event) => {
                hideError($(event.target));
            });

            $(".chosen-select-product-update").on("change", (event) => {
                hideError($("#product-categories-update"));
            });
            
            let categories;
            const getExistingCategories = async () => {
                await $.ajax({
                    url: '/categories/all', 
                    type: 'GET',
                    success: (data) => {
                        categories = data; 
                    },
                    error: (error) => {
                        console.log("AJAX error when retrieving categories", error);
                    }
                });
            } 

            const checkExistingCategory = async (category_name) => {
                await getExistingCategories();
                for(let i = 0; i < categories.length; i++) {
                    if(categories[i].name === category_name) {
                        return true;
                    }
                }
                return false;
            }

            const containsSpecialCharacters = (str) => {
                const special_character_regex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]|^\s*$/;
                return special_character_regex.test(str);
            }
            
            $("#create-category-button").on("click", async () => {
                const category_name = $("#create-category-input").val();
                if(!containsSpecialCharacters(category_name) && !(await checkExistingCategory(category_name))) {
                    try {
                        const response = await $.ajax({
                            url: '/categories',
                            method: 'POST',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({ name: category_name }), 
                        });
                        hideError($("#create-category-input"));
                        
                        $("#product-categories, #delete-product-categories, #update-product-categories").append(
                            `<option value="${response.name}">${response.name}</option>`
                        );
                    
                        $("#product-categories, #delete-product-categories, #update-product-categories").trigger("chosen:updated");
                    
                        $("#create-category-input").val("");

                        showValidation($("#create-category-button"), "Category Created Successfully");
                        showValidation($("#create-category-input"), "Category Created Successfully");
                    } 
                    catch (error) {
                        console.error("AJAX error:", error);
                    }
                }
                else {
                    showError($("#create-category-input"), "Category already exists or value contains special character")
                }
                
            });

            $("#delete-category-button").on("click", async () => {
                const category_name = $("#delete-product-categories :selected").text();
                if(!containsSpecialCharacters(category_name) && await checkExistingCategory(category_name)) {
                    try {
                        await $.ajax({
                            url: `/categories/name/${category_name}`,
                            method: 'DELETE',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({ name: category_name })
                        });
                        
                        hideError($("#delete-product-categories"));
                        
                        $(`option[value="${category_name}"]`).remove();

                        $("#product-names-update, #delete-product-categories, #update-product-categories").trigger("chosen:updated");

                        showValidation($("#delete-category-button"), "Category Deleted Successfully");
                    } 
                    catch (error) {
                        console.error("AJAX error:", error);
                    }
                }
                else {
                    showError($("#delete-category-input"), "Category does not exist or value contains special character")
                }
            })

            $("#update-category-button").on("click", async () => {
                const category_name = $("#update-product-categories :selected").text();
                const updated_category_name = $("#update-category-input").val();
                if(!containsSpecialCharacters(updated_category_name) && !(await checkExistingCategory(updated_category_name))) {
                    try {
                        await $.ajax({
                            url: `/categories/name/${category_name}`,
                            method: 'PUT',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify({ name: updated_category_name })
                        });
                        
                        hideError($("#update-category-input"));

                        $(`option[value="${category_name}"]`).remove();

                        $("#product-categories, #delete-product-categories, #update-product-categories").append(
                            `<option value="${updated_category_name}">${updated_category_name}</option>`
                        );

                        $("#product-categories, #delete-product-categories, #update-product-categories").trigger("chosen:updated");

                        $("#update-category-input").val("");

                        showValidation($("#update-category-button"), "Category updated successfully");
                        showValidation($("#update-category-input"), "Category updated successfully");
                    } 
                    catch (error) {
                        console.error("AJAX error:", error);
                    }
                }
                else {
                    showError($("#update-category-input"), "Category already exists or value contains special character")
                }
            })

            $("#create-category-input, #delete-category-input, #update-category-input").on("input", (event) => {
                hideError($(event.target));
            });
        });
    </script>
</body>
</html>