<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../Partials/Products/productDisplay.styling.css">
</head>
<body>
  <%- include("../Navbar/navbar.ejs") %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 product-container">
        <div class="product-image">
          <img src="<%= product.image %>" alt="Product Image" class="img-fluid" style="height: 100%; width: 37rem;">
        </div>
        
        <div class="product-details">
            <h1><%= product.name %></h1>
            <p class="product-description text-wrap"><%= product.description %></p>

            <% if (product.allergies.lactose || product.allergies.nuts || product.allergies.soy || product.allergies.gluten || product.allergies.eggs) { %>
              <p><strong>Allergens:</strong> <%= generateAllergensString(product.allergies) %></p>
            <% } %>

            <% function generateAllergensString(allergies) {
              const allergens = [];
          
              if (allergies.lactose) allergens.push("Lactose");
              if (allergies.nuts) allergens.push("Nuts");
              if (allergies.soy) allergens.push("Soy");
              if (allergies.gluten) allergens.push("Gluten");
              if (allergies.eggs) allergens.push("Eggs");
          
              return allergens.join(', ');
            } %>
            <div>
              <p>Select Additions:</p>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="sprinkles" id="sprinklesCheckbox">
              <label class="form-check-label" for="sprinklesCheckbox">Sprinkles</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="hot_chocolate" id="hotChocolateCheckbox">
              <label class="form-check-label" for="hotChocolateCheckbox">Hot Chocolate</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="gummy_bears" id="gummyBearsCheckbox">
              <label class="form-check-label" for="gummyBearsCheckbox">Gummy Bears</label>
            </div>
          </div>
          <div class="add-container">
            <div class="button-and-input">
              <button id="add-button" class="btn btn-success mt-3 margin-top" onclick="addToCart('<%= product.name %>', '<%= product.price %>', '<%= product.image %>')">
                Add to Cart
              </button>
              <input type="number" class="form-control" id="quantityInput" name="quantity" min="1" max="15" value="1" onchange="updateTotalPrice('<%= product.price %>')">
            </div>
            <div>
              <p id="total-price">Total Price: $<span id="totalPriceSpan"><%= product.price %></span></p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script> 
let counter = parseInt(localStorage.getItem('counter')) || 1;
const updateCartBadge = () => {
    const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
    const cartBadge = document.getElementById('cart-badge');
    if (cartBadge) {
      const totalQuantity = cartItems.reduce((total, item) => total + item.quantity, 0);
      cartBadge.textContent = totalQuantity;
    }
}
$(document).ready(() => {
  updateCartBadge();
})
const updateTotalPrice = (productPrice) => {
  let selectedQuantity = parseInt(document.getElementById('quantityInput').value, 10);
    
  if (isNaN(selectedQuantity) || selectedQuantity < 1) {
    selectedQuantity = 1;
  } 
  else if (selectedQuantity > 15) {
    selectedQuantity = 15;
  }

  const totalPrice = parseFloat(productPrice) * selectedQuantity;
  document.getElementById('quantityInput').value = selectedQuantity;
  document.getElementById('totalPriceSpan').textContent = totalPrice.toFixed(2);
};
const addToCart = (productName, productPrice, productImage) => {
  const addButton = document.getElementById('add-button');
  addButton.disabled = true;

  const selectedAdditions = {
    sprinkles: document.querySelector('[name="sprinkles"]').checked,
    hot_chocolate: document.querySelector('[name="hot_chocolate"]').checked,
    gummy_bears: document.querySelector('[name="gummy_bears"]').checked,
  };

  const selectedQuantity = parseInt(document.getElementById('quantityInput').value, 10);
  const totalPrice = parseFloat(productPrice) * selectedQuantity;

  const cartItem = {
    id: counter++,
    name: productName,
    price: parseFloat(productPrice),
    total_price: totalPrice,
    additions: selectedAdditions,
    quantity: selectedQuantity,
    image: productImage,
  };
  const existingCartItems = JSON.parse(localStorage.getItem('cartItems')) || [];

  existingCartItems.push(cartItem);

  localStorage.setItem('cartItems', JSON.stringify(existingCartItems));
  updateCartBadge();

  console.log(`Added "${productName}" to cart for a total of $${totalPrice.toFixed(2)} (Quantity: ${selectedQuantity})`);
  localStorage.setItem('counter', counter);

  const addedToCartMessage = document.createElement('div');
  addedToCartMessage.textContent = 'Added to Cart!';
  addedToCartMessage.classList.add('added-to-cart-message', 'text-success');
  document.body.appendChild(addedToCartMessage);

  setTimeout(() => {
    document.body.removeChild(addedToCartMessage);
    window.location.href = '/products';
  }, 2000);
  
};
  
  </script>
</body>
</html>