<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../Dashboard/Admin/Admin-Order-Display/adminOrder.styling.css">
    <%- include("../../../Partials/Dashboard-Admin-Header/dashboardAdminHeader.ejs") %>
    <title>Document</title>
</head>
<body>
    <div id="all-orders-container">
        <div id="user-orders" class="card">
            <div class="card-header">
                All Orders
            </div>
            <div class="card-body">
                <% if (all_orders != undefined && all_orders.length > 0) {
                    all_orders.forEach(order => { %>
                    <div id="user-order" class="user-order-<%= order._id %>">
                        <p class="orderers-name-<%= order._id %>">
                            Orderer's Name: <%= order.name %>
                        </p>

                        <p class="email-<%= order._id %>">
                            Email: <%= order.email %>
                        </p>

                        <p class="phone-number-<%= order._id %>">
                            Phone Number: 0<%= order.phone_number %>
                        </p>

                        <p>
                            Date Ordered: <%= order.date %>
                        </p>

                        <div id="address-container">
                            Address:
                            <p id="address-paragraph" class="city-<%= order._id %>">
                                City: <%= order.address.city %> 
                            </p>
                            <p id="address-paragraph" class="street-<%= order._id %>">
                                Street: <%= order.address.street %>
                            </p>
                            <p id="address-paragraph" class="apartment-<%= order._id %>">
                                Apartment: <%= order.address.apartment %>
                            </p>
                            <p id="address-paragraph" class="floor-<%= order._id %>">
                                Floor: <%= order.address.floor %>
                            </p>
                        </div>
                        <div id="user-order-products">
                          <h4 style="color: rgb(242,132,189);">Products Ordered:</h4>
                          <ul id = "user-order-product-list">
                            <% let total_order_price = 0; %>
                            <% order.products_info.forEach(product => { %>
                                <% total_order_price += product.total_price %>
                                <li id = "user-order-product-item" class="d-flex align-items-center">
                                    <div>
                                        <img id="product-image" src = <%= product.image %>>
                                    </div>
                                    <div>
                                        <div>
                                            <%= product.product_name %> - <%= product.amount %> Units
                                        </div>
                                        <div>
                                            <% function capitalizeWords(str) {
                                                return str.replace(/\w+/g, function(txt){
                                                    return txt.charAt(0).toUpperCase() + txt.substr(1);
                                                });
                                            } %>
                                            <% let additions_string = "" %>
                                            <% let flag = false %>
                                            <% Object.entries(product.additions).forEach(([addition, value]) => {
                                                if (value) { 
                                                    if(!flag) {
                                                        additions_string += "Additions:"
                                                        flag = true 
                                                    } 
                                                    additions_string += " " + capitalizeWords(addition.replace('_', ' ')) + ",";
                                                } 
                                            }); %>
                                            <%= additions_string.slice(0, -1) %>
                                        </div>
                                        <div>
                                            Total Product Price:
                                            $<%= parseFloat(product.total_price).toFixed(2) %>  
                                        </div>
                                    </div>
                                </li>
                            <% }); %>
                            <div>
                                Total Order Price:
                                $<%= parseFloat(total_order_price).toFixed(2) %>   
                            </div>
                            <div id="buttons-container">
                                <button id="update-order-button" class="btn" data-bs-toggle="modal" data-bs-target="#edit-order-modal" data-order-id="<%= order._id %>">Edit Order</button>
                                <button id="delete-order-button" class="btn delete" data-bs-toggle="modal" data-bs-target="#delete-order-modal" data-order-id="<%= order._id %>">Delete Order</button>
                            </div>
                          </ul>
                        </div>
                    </div>

                    <div id="delete-order-modal" class="modal fade" tabindex="-1" aria-labelledby="Delete Order Modal Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Order</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this order?
                                </div>
                                <div class="modal-footer">
                                    <button id="cancel-delete-order-button" type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                                    <button id="confirm-delete-order-button" type="button" class="btn delete">Delete</button>
                                </div>
                            </div>
                        </div>

                        <div id="delete-order-success-message-container" class="alert-container">
                            <div id="delete-order-success-message" class="alert alert-success">
                                Order deleted successfully.
                            </div>
                        </div>
                    </div>

                    <div id="edit-order-modal" class="modal fade" tabindex="-1" aria-labelledby="Edit Order Modal Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Order</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                                </div>
                                <div class="modal-body">
                                    <form id="edit-order-form">
                                        <div class="mb-3">
                                            <label for="edit-name" class="form-label">Orderer's Name:</label>
                                            <input type="text" class="form-control" id="edit-name" value="<%= order.name %>"/>
                                        </div>

                                        <div class="mb-3">
                                            <label for="edit-email" class="form-label">Email:</label>
                                            <input type="email" class="form-control" id="edit-email" value="<%= order.email %>" readonly/>
                                        </div>

                                        <div class="mb-3">
                                            <label for="edit-phone-number" class="form-label">Phone Number:</label>
                                            <input type="tel" class="form-control" id="edit-phone-number" value="0<%= order.phone_number %>"/>
                                        </div>

                                        <div class="mb-3">
                                            <label for="edit-city" class="form-label">City</label>
                                            <input type="text" class="form-control" id="edit-city" value="<%= order.address.city %>"/>
                                        </div>

                                        <div class="mb-3">
                                            <label for="edit-street" class="form-label">Street</label>
                                            <input type="text" class="form-control" id="edit-street" value="<%= order.address.street %>"/>
                                        </div>

                                        <div class="mb-3">
                                            <label for="edit-apartment" class="form-label">Apartment</label>
                                            <input type="text" class="form-control" id="edit-apartment" value="<%= order.address.apartment %>"/>
                                        </div>

                                        <div class="mb-3">
                                            <label for="edit-floor" class="form-label">Floor</label>
                                            <input type="text" class="form-control" id="edit-floor" value="<%= order.address.floor %>"/>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="cancel-edit-order-button" type="button" class="btn" data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button id="confirm-edit-order-button" type="button" class="btn delete">
                                        Save Changes
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="edit-order-success-message-container" class="alert-container">
                            <div id="edit-order-success-message" class="alert alert-success">
                                Order edited successfully.
                            </div>
                        </div>
                    </div>
                    <% }) ;
                  }  %>

                  <div id="no-orders-pargraph-container" class="d-none">
                      <p id="no-orders-pargraph">
                          No orders available.
                      </p>
                  </div>
                  
            </div>
        </div>
    </div> 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="../../../Dashboard/init.js"></script>
    <script type="module" src="../../../Dashboard/chosenInit.js"></script>
    <script type="module" src="../../../Dashboard/Admin/Admin-Order-Display/adminOrder.js"> </script>
    <script type="module" src="../../../Dashboard/Admin/Admin-Order-Display/Order/deleteOrder.js"> </script>
    <script type="module" src="../../../Dashboard/Admin/Admin-Order-Display/Order/editOrder.js"> </script>
    
    </body>
</html>
