<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../Products/productsDisplay.styling.css">
  <%- include("../Navbar/navbar.ejs") %>
</head>
<body>
<div id="locked-div">
  
  <div id="left-align" class="container mt-4">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center">
        <h1 class="ml-3 small-margin">Our Products</h1>
        
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Category
          </button>
          <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            <% categories.forEach(category => { %>
              <li><a class="dropdown-item" data-category="<%= category.name %>"><%= category.name %></a></li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  
  <div id="container" class="d-flex flex-wrap">

        
    <% products.forEach(product => { %>
      <div id="card-container" class="card" onclick="openModal('productModal<%= product._id %>')">
        <div id="image-container">
          <img id="product-image" class="card-img-top" src="<%= product.image %>" alt="Product Image">
        </div>
        <div class="card-body card-content">
          <h5 class="card-title text-ellipsis"><%= product.name %></h5>
          <p class="card-text text-ellipsis"><%= product.description %></p>
          <p class="card-text card-price">Price: $<%= product.price %></p>
        </div>
      </div>
      
      <div class="modal fade" id="productModal<%= product._id %>" tabindex="-1" aria-labelledby="productModalLabel<%= product._id %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="productModalLabel<%= product._id %>"><%= product.name %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img id="product-image-modal" class="modal-img" src="<%= product.image %>" alt="Product Image">
              <p><%= product.description %></p>
              <p>Price: $<%= product.price %></p>
              
              <% if (product.allergies.lactose || product.allergies.nuts || product.allergies.soy || product.allergies.gluten || product.allergies.eggs) { %>
                <p>Allergens:</p>
                <% } %>
                <ul>
                  <% if (product.allergies.lactose) { %>
                    <li>Lactose</li>
                  <% } %>
                  <% if (product.allergies.nuts) { %>
                    <li>Nuts</li>
                  <% } %>
                  <% if (product.allergies.soy) { %>
                    <li>Soy</li>
                  <% } %>
                  <% if (product.allergies.gluten) { %>
                    <li>Gluten</li>
                  <% } %>
                  <% if (product.allergies.eggs) { %>
                    <li>Eggs</li>
                  <% } %>
                </ul>

                <p>Select Additions:</p>
                <div>
                  <label>
                    <input type="checkbox" name="sprinkles"> Sprinkles
                  </label>
                </div>
                <div>
                  <label>
                    <input type="checkbox" name="hot_chocolate"> Hot Chocolate
                  </label>
                </div>
                <div>
                  <label>
                    <input type="checkbox" name="gummy_bears"> Gummy Bears
                  </label>
                </div>
            </div>
            <footer class="modal-footer">
              <button class="btn btn-success" onclick="addToCartAndClose('<%= product.name %>', '<%= product.price %>', 'productModal<%= product._id %>')">
                Add to Cart
              </button>
            </footer>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>   
   
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> 
  
<script>
 const modals = {};

function openModal(modalId) {
  if (!modals[modalId]) {
    modals[modalId] = new bootstrap.Modal(document.getElementById(modalId));
  }
  modals[modalId].show();
}

function closeModal(modalId) {
  if (modals[modalId]) {
    modals[modalId].hide();
  }
}

function addToCartAndClose(productName, productPrice, modalId) {
  const selectedAdditions = {
    sprinkles: document.querySelector(`#${modalId} [name="sprinkles"]`).checked,
    hot_chocolate: document.querySelector(`#${modalId} [name="hot_chocolate"]`).checked,
    gummy_bears: document.querySelector(`#${modalId} [name="gummy_bears"]`).checked,
  };

  closeModal(modalId);

  console.log(`Added "${productName}" to cart for $${productPrice}`);
  console.log("Selected Additions:", selectedAdditions);
}

$(document).ready(function () {
    $('.dropdown-item').on('click', function () {
      const selectedCategory = $(this).data('category');
      loadProductsByCategory(selectedCategory);
    });

    function loadProductsByCategory(category) {
    $.ajax({
      url: `/products/category/${category}`,
      method: 'GET',
      success: function (products) {
        $('#container').empty(); // Clear existing products
        products.forEach(product => {
          // Render each product card here
          const productCard = `
            <div id="card-container" class="card" onclick="openModal('productModal${product._id}')">
              <div id="image-container">
                <img id="product-image" class="card-img-top" src="${product.image}" alt="Product Image">
              </div>
              <div class="card-body card-content">
                <h5 class="card-title text-ellipsis">${product.name}</h5>
                <p class="card-text text-ellipsis">${product.description}</p>
                <p class="card-text card-price">Price: $${product.price}</p>
              </div>
            </div>
            <!-- Add your modal code for this product here -->
          `;
          $('#container').append(productCard);
        });
      },
      error: function (error) {
        console.error('Error loading products:', error);
      }
    });
  }
});
</script>

</body>
</html>
